apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
spec:
  selector:
    app: flask-app-service
    namespace: devops-tools
  ports:
    - protocol: "TCP"
      port: 6000
      targetPort: 5000
      nodePort: 31000
  type: NodePort